__pycache__/
.idea/
.pytest_cache/
venv*
.DS_Store
config.py
config.ini
.vscode
.python-version
*.log
BusinessRegistration/zip/*.zip
Base/chromedriver.exe
*/chromedriver.exe
Sips/Utilities/Script/Deep\ SIP.json
dump.rdb
gunicorn.sh
mongodb.sh
redis.sh
rq.sh
config_main.ini
open_gunicorn.sh
open_mongo.sh
open_redis.sh
open_rqworker.sh
scraper-refer
config_teststation.ini
archieve
ccxt_dev.ipynb
DBSSL.pem
dev.ipynb
scraper_dev.ipynb
DigiCertGlobalRootCA.crt
VM.pem
*.ipynb